body{
    margin:0;
}

/* for font */

@font-face {
    font-family: myOdinFont;
    src: url(font/Norse-Bold.otf);
}

.img_container{
    position: relative;
    padding:0;
    color:white;
    text-align: center;
    
}

.img_container p {
    position: relative;
    bottom:3rem;
    font-size: 4.5em;
    font-family: myOdinFont;
    left:1.5rem;
}

.tree_img{
    display:block;
    width:30%;
    height:750px;
    padding:0;
   
}

.odin_container{
    position:absolute;
    top:20%;
    background-color:rgba(0,0,0,0.6);
    width:30%;
    height:120px;
    
}


.odin_img{
height:100px;
width:auto;
position:absolute;
left:25%;
top:0.5rem;
}

.container-top{
     position: absolute;
   top:0;
    left:30%;
    width: 70%;
    height: 35vh;
    background-color: rgb(250, 250, 250);
  
}

.container-top p{
    padding: 120px 100px 100px 50px;
    width:50%;
    font-weight: bold;
    font-size: 1.10rem;
    font-family: sans-serif;

    
}

.form-container{
    
    position:absolute;
    left:30%;
    top:40vh;
    width:70%;
    height:30vh;
    box-shadow: 3px 5px rgb(236, 236, 236);
    
}

#left-items{
    border:solid blue 3px;
    padding-left:50px;
    display:flex;
}

#right-items{
    border:solid red 3px;
}


/* 968 width, 750 height */